body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1718px;
  height:306px;
}
#u12753 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1718px;
  height:306px;
}
#u12754 {
  position:absolute;
  left:2px;
  top:145px;
  width:1714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12755 {
  position:absolute;
  left:291px;
  top:322px;
  width:871px;
  height:351px;
}
#u12756 {
  position:absolute;
  left:2px;
  top:168px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12758 {
  position:absolute;
  left:1194px;
  top:322px;
  width:300px;
  height:265px;
}
#u12759 {
  position:absolute;
  left:2px;
  top:124px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:168px;
}
#u12760 {
  position:absolute;
  left:1201px;
  top:333px;
  width:128px;
  height:168px;
}
#u12761 {
  position:absolute;
  left:2px;
  top:76px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u12762 {
  position:absolute;
  left:1335px;
  top:337px;
  width:94px;
  height:20px;
}
#u12763 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12764 {
  position:absolute;
  left:1329px;
  top:367px;
  width:98px;
  height:30px;
}
#u12765 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u12767 {
  position:absolute;
  left:1332px;
  top:415px;
  width:152px;
  height:21px;
}
#u12768 {
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u12769 {
  position:absolute;
  left:1337px;
  top:441px;
  width:111px;
  height:17px;
}
#u12770 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u12771 {
  position:absolute;
  left:1327px;
  top:470px;
  width:164px;
  height:32px;
}
#u12772 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
}
#u12773 {
  position:absolute;
  left:1207px;
  top:511px;
  width:251px;
  height:40px;
}
#u12774 {
  position:absolute;
  left:2px;
  top:12px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u12775 {
  position:absolute;
  left:1274px;
  top:517px;
  width:138px;
  height:28px;
}
#u12776 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12777 {
  position:absolute;
  left:1194px;
  top:600px;
  width:300px;
  height:250px;
}
#u12778 {
  position:absolute;
  left:2px;
  top:117px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:168px;
}
#u12779 {
  position:absolute;
  left:1201px;
  top:611px;
  width:128px;
  height:168px;
}
#u12780 {
  position:absolute;
  left:2px;
  top:76px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12781 {
  position:absolute;
  left:1330px;
  top:645px;
  width:98px;
  height:30px;
}
#u12782 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12783 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u12784 {
  position:absolute;
  left:1328px;
  top:693px;
  width:152px;
  height:21px;
}
#u12785 {
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u12786 {
  position:absolute;
  left:1333px;
  top:719px;
  width:111px;
  height:17px;
}
#u12787 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u12788 {
  position:absolute;
  left:1328px;
  top:748px;
  width:164px;
  height:32px;
}
#u12789 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u12790 {
  position:absolute;
  left:1207px;
  top:789px;
  width:262px;
  height:40px;
}
#u12791 {
  position:absolute;
  left:2px;
  top:12px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u12792 {
  position:absolute;
  left:1273px;
  top:795px;
  width:138px;
  height:28px;
}
#u12793 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:165px;
}
#u12794 {
  position:absolute;
  left:1203px;
  top:614px;
  width:126px;
  height:165px;
}
#u12795 {
  position:absolute;
  left:2px;
  top:74px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12796 {
  position:absolute;
  left:1337px;
  top:613px;
  width:115px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12797 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u12798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12798 {
  position:absolute;
  left:1194px;
  top:878px;
  width:300px;
  height:250px;
}
#u12799 {
  position:absolute;
  left:2px;
  top:117px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:168px;
}
#u12800 {
  position:absolute;
  left:1201px;
  top:889px;
  width:128px;
  height:168px;
}
#u12801 {
  position:absolute;
  left:2px;
  top:76px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12802 {
  position:absolute;
  left:1328px;
  top:920px;
  width:98px;
  height:30px;
}
#u12803 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u12805 {
  position:absolute;
  left:1328px;
  top:971px;
  width:152px;
  height:21px;
}
#u12806 {
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u12807 {
  position:absolute;
  left:1333px;
  top:997px;
  width:111px;
  height:17px;
}
#u12808 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u12809 {
  position:absolute;
  left:1329px;
  top:1026px;
  width:164px;
  height:32px;
}
#u12810 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u12811 {
  position:absolute;
  left:1207px;
  top:1067px;
  width:262px;
  height:40px;
}
#u12812 {
  position:absolute;
  left:2px;
  top:12px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u12813 {
  position:absolute;
  left:1269px;
  top:1073px;
  width:138px;
  height:28px;
}
#u12814 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12815 {
  position:absolute;
  left:1336px;
  top:891px;
  width:115px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12816 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u12817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:157px;
}
#u12817 {
  position:absolute;
  left:1205px;
  top:896px;
  width:120px;
  height:157px;
}
#u12818 {
  position:absolute;
  left:2px;
  top:70px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u12819 {
  position:absolute;
  left:1193px;
  top:1160px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u12820 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12821 {
  position:absolute;
  left:1193px;
  top:1361px;
  width:300px;
  height:99px;
}
#u12822 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12823 {
  position:absolute;
  left:1193px;
  top:1192px;
  width:300px;
  height:169px;
}
#u12824 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12825 {
  position:absolute;
  left:1204px;
  top:1377px;
  width:252px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12826 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u12827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12827 {
  position:absolute;
  left:1203px;
  top:1403px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12828 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u12829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12829 {
  position:absolute;
  left:1193px;
  top:1328px;
  width:300px;
  height:34px;
}
#u12830 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u12831 {
  position:absolute;
  left:1200px;
  top:1336px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u12832 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12833 {
  position:absolute;
  left:1203px;
  top:1428px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12834 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u12835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12835 {
  position:absolute;
  left:1193px;
  top:1639px;
  width:300px;
  height:99px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12837 {
  position:absolute;
  left:1193px;
  top:1470px;
  width:300px;
  height:169px;
}
#u12838 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12839 {
  position:absolute;
  left:1204px;
  top:1655px;
  width:252px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12840 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u12841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12841 {
  position:absolute;
  left:1203px;
  top:1681px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12842 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u12843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12843 {
  position:absolute;
  left:1193px;
  top:1606px;
  width:300px;
  height:34px;
}
#u12844 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u12845 {
  position:absolute;
  left:1200px;
  top:1614px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u12846 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12847 {
  position:absolute;
  left:1203px;
  top:1706px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12848 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u12849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12849 {
  position:absolute;
  left:1193px;
  top:1917px;
  width:300px;
  height:99px;
}
#u12850 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12851 {
  position:absolute;
  left:1193px;
  top:1748px;
  width:300px;
  height:169px;
}
#u12852 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12853 {
  position:absolute;
  left:1204px;
  top:1933px;
  width:252px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12854 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u12855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12855 {
  position:absolute;
  left:1203px;
  top:1959px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12856 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u12857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12857 {
  position:absolute;
  left:1193px;
  top:1884px;
  width:300px;
  height:34px;
}
#u12858 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u12859 {
  position:absolute;
  left:1200px;
  top:1892px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u12860 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12861 {
  position:absolute;
  left:1203px;
  top:1984px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12862 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u12863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:234px;
}
#u12863 {
  position:absolute;
  left:315px;
  top:356px;
  width:350px;
  height:234px;
}
#u12864 {
  position:absolute;
  left:2px;
  top:109px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12865 {
  position:absolute;
  left:690px;
  top:356px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12866 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12867 {
  position:absolute;
  left:690px;
  top:532px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12868 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12869 {
  position:absolute;
  left:690px;
  top:442px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12870 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12871 {
  position:absolute;
  left:690px;
  top:488px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12872 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12873 {
  position:absolute;
  left:690px;
  top:571px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12874 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12875 {
  position:absolute;
  left:690px;
  top:400px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u12876 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12877 {
  position:absolute;
  left:789px;
  top:356px;
  width:141px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12878 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12879 {
  position:absolute;
  left:789px;
  top:532px;
  width:85px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12880 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12881 {
  position:absolute;
  left:789px;
  top:442px;
  width:66px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12882 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12883 {
  position:absolute;
  left:789px;
  top:488px;
  width:50px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12884 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12885 {
  position:absolute;
  left:789px;
  top:571px;
  width:354px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12886 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u12887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12887 {
  position:absolute;
  left:789px;
  top:400px;
  width:39px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12888 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u12889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:51px;
}
#u12889 {
  position:absolute;
  left:287px;
  top:683px;
  width:882px;
  height:51px;
}
#u12890 {
  position:absolute;
  left:2px;
  top:18px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
}
#u12891 {
  position:absolute;
  left:293px;
  top:684px;
  width:121px;
  height:50px;
}
#u12892 {
  position:absolute;
  left:2px;
  top:17px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12893 {
  position:absolute;
  left:321px;
  top:700px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12894 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u12895 {
  position:absolute;
  left:586px;
  top:698px;
  width:84px;
  height:25px;
}
#u12896 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12897 {
  position:absolute;
  left:565px;
  top:698px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12898 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12899 {
  position:absolute;
  left:291px;
  top:762px;
  width:871px;
  height:368px;
}
#u12900 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  word-wrap:break-word;
}
#u12901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u12902 {
  position:absolute;
  left:291px;
  top:684px;
  width:121px;
  height:46px;
}
#u12903 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u12904 {
  position:absolute;
  left:310px;
  top:693px;
  width:83px;
  height:29px;
}
#u12905 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12906 {
  position:absolute;
  left:318px;
  top:701px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12907 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u12908 {
  position:absolute;
  left:448px;
  top:695px;
  width:84px;
  height:25px;
}
#u12909 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12910 {
  position:absolute;
  left:448px;
  top:698px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u12911 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u12912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:420px;
}
#u12912 {
  position:absolute;
  left:291px;
  top:1152px;
  width:608px;
  height:420px;
}
#u12913 {
  position:absolute;
  left:2px;
  top:202px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:420px;
}
#u12914 {
  position:absolute;
  left:291px;
  top:1596px;
  width:608px;
  height:420px;
}
#u12915 {
  position:absolute;
  left:2px;
  top:202px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:420px;
}
#u12916 {
  position:absolute;
  left:291px;
  top:2037px;
  width:608px;
  height:420px;
}
#u12917 {
  position:absolute;
  left:2px;
  top:202px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12919 {
  position:absolute;
  left:318px;
  top:618px;
  width:27px;
  height:22px;
}
#u12920 {
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12921 {
  position:absolute;
  left:347px;
  top:621px;
  width:29px;
  height:16px;
  color:#999999;
}
#u12922 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12924 {
  position:absolute;
  left:409px;
  top:618px;
  width:22px;
  height:22px;
}
#u12925 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12926 {
  position:absolute;
  left:441px;
  top:621px;
  width:29px;
  height:16px;
  color:#999999;
}
#u12927 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
