body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1718px;
  height:306px;
}
#u9978 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1718px;
  height:306px;
}
#u9979 {
  position:absolute;
  left:2px;
  top:145px;
  width:1714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9980 {
  position:absolute;
  left:291px;
  top:322px;
  width:871px;
  height:351px;
}
#u9981 {
  position:absolute;
  left:2px;
  top:168px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9983 {
  position:absolute;
  left:1194px;
  top:322px;
  width:300px;
  height:265px;
}
#u9984 {
  position:absolute;
  left:2px;
  top:124px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:168px;
}
#u9985 {
  position:absolute;
  left:1201px;
  top:333px;
  width:128px;
  height:168px;
}
#u9986 {
  position:absolute;
  left:2px;
  top:76px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u9987 {
  position:absolute;
  left:1335px;
  top:337px;
  width:94px;
  height:20px;
}
#u9988 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u9989 {
  position:absolute;
  left:1329px;
  top:367px;
  width:98px;
  height:30px;
}
#u9990 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u9992 {
  position:absolute;
  left:1332px;
  top:415px;
  width:152px;
  height:21px;
}
#u9993 {
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u9994 {
  position:absolute;
  left:1337px;
  top:441px;
  width:111px;
  height:17px;
}
#u9995 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u9996 {
  position:absolute;
  left:1327px;
  top:470px;
  width:164px;
  height:32px;
}
#u9997 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
}
#u9998 {
  position:absolute;
  left:1207px;
  top:511px;
  width:251px;
  height:40px;
}
#u9999 {
  position:absolute;
  left:2px;
  top:12px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u10000 {
  position:absolute;
  left:1274px;
  top:517px;
  width:138px;
  height:28px;
}
#u10001 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10002 {
  position:absolute;
  left:1194px;
  top:600px;
  width:300px;
  height:250px;
}
#u10003 {
  position:absolute;
  left:2px;
  top:117px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:168px;
}
#u10004 {
  position:absolute;
  left:1201px;
  top:611px;
  width:128px;
  height:168px;
}
#u10005 {
  position:absolute;
  left:2px;
  top:76px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u10006 {
  position:absolute;
  left:1330px;
  top:645px;
  width:98px;
  height:30px;
}
#u10007 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u10009 {
  position:absolute;
  left:1328px;
  top:693px;
  width:152px;
  height:21px;
}
#u10010 {
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u10011 {
  position:absolute;
  left:1333px;
  top:719px;
  width:111px;
  height:17px;
}
#u10012 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u10013 {
  position:absolute;
  left:1328px;
  top:748px;
  width:164px;
  height:32px;
}
#u10014 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u10015 {
  position:absolute;
  left:1207px;
  top:789px;
  width:262px;
  height:40px;
}
#u10016 {
  position:absolute;
  left:2px;
  top:12px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u10017 {
  position:absolute;
  left:1273px;
  top:795px;
  width:138px;
  height:28px;
}
#u10018 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:165px;
}
#u10019 {
  position:absolute;
  left:1203px;
  top:614px;
  width:126px;
  height:165px;
}
#u10020 {
  position:absolute;
  left:2px;
  top:74px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10021 {
  position:absolute;
  left:1337px;
  top:613px;
  width:115px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10022 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10023 {
  position:absolute;
  left:1194px;
  top:878px;
  width:300px;
  height:250px;
}
#u10024 {
  position:absolute;
  left:2px;
  top:117px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:168px;
}
#u10025 {
  position:absolute;
  left:1201px;
  top:889px;
  width:128px;
  height:168px;
}
#u10026 {
  position:absolute;
  left:2px;
  top:76px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u10027 {
  position:absolute;
  left:1328px;
  top:920px;
  width:98px;
  height:30px;
}
#u10028 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u10030 {
  position:absolute;
  left:1328px;
  top:971px;
  width:152px;
  height:21px;
}
#u10031 {
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u10032 {
  position:absolute;
  left:1333px;
  top:997px;
  width:111px;
  height:17px;
}
#u10033 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
}
#u10034 {
  position:absolute;
  left:1329px;
  top:1026px;
  width:164px;
  height:32px;
}
#u10035 {
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u10036 {
  position:absolute;
  left:1207px;
  top:1067px;
  width:262px;
  height:40px;
}
#u10037 {
  position:absolute;
  left:2px;
  top:12px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u10038 {
  position:absolute;
  left:1269px;
  top:1073px;
  width:138px;
  height:28px;
}
#u10039 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10040 {
  position:absolute;
  left:1336px;
  top:891px;
  width:115px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10041 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u10042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:157px;
}
#u10042 {
  position:absolute;
  left:1205px;
  top:896px;
  width:120px;
  height:157px;
}
#u10043 {
  position:absolute;
  left:2px;
  top:70px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u10044 {
  position:absolute;
  left:1193px;
  top:1160px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u10045 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u10046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10046 {
  position:absolute;
  left:1193px;
  top:1361px;
  width:300px;
  height:99px;
}
#u10047 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10048 {
  position:absolute;
  left:1193px;
  top:1192px;
  width:300px;
  height:169px;
}
#u10049 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10050 {
  position:absolute;
  left:1204px;
  top:1377px;
  width:252px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10051 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u10052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10052 {
  position:absolute;
  left:1203px;
  top:1403px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10053 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u10054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10054 {
  position:absolute;
  left:1193px;
  top:1328px;
  width:300px;
  height:34px;
}
#u10055 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10056 {
  position:absolute;
  left:1200px;
  top:1336px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10057 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u10058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10058 {
  position:absolute;
  left:1203px;
  top:1428px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10059 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u10060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10060 {
  position:absolute;
  left:1193px;
  top:1639px;
  width:300px;
  height:99px;
}
#u10061 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10062 {
  position:absolute;
  left:1193px;
  top:1470px;
  width:300px;
  height:169px;
}
#u10063 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10064 {
  position:absolute;
  left:1204px;
  top:1655px;
  width:252px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10065 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u10066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10066 {
  position:absolute;
  left:1203px;
  top:1681px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10067 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u10068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10068 {
  position:absolute;
  left:1193px;
  top:1606px;
  width:300px;
  height:34px;
}
#u10069 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10070 {
  position:absolute;
  left:1200px;
  top:1614px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10071 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u10072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10072 {
  position:absolute;
  left:1203px;
  top:1706px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10073 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u10074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10074 {
  position:absolute;
  left:1193px;
  top:1917px;
  width:300px;
  height:99px;
}
#u10075 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10076 {
  position:absolute;
  left:1193px;
  top:1748px;
  width:300px;
  height:169px;
}
#u10077 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10078 {
  position:absolute;
  left:1204px;
  top:1933px;
  width:252px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10079 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u10080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10080 {
  position:absolute;
  left:1203px;
  top:1959px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10081 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u10082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10082 {
  position:absolute;
  left:1193px;
  top:1884px;
  width:300px;
  height:34px;
}
#u10083 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10084 {
  position:absolute;
  left:1200px;
  top:1892px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10085 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u10086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10086 {
  position:absolute;
  left:1203px;
  top:1984px;
  width:289px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10087 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u10088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:234px;
}
#u10088 {
  position:absolute;
  left:315px;
  top:356px;
  width:350px;
  height:234px;
}
#u10089 {
  position:absolute;
  left:2px;
  top:109px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10090 {
  position:absolute;
  left:690px;
  top:356px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10091 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10092 {
  position:absolute;
  left:690px;
  top:532px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10093 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10094 {
  position:absolute;
  left:690px;
  top:442px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10095 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10096 {
  position:absolute;
  left:690px;
  top:488px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10097 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10098 {
  position:absolute;
  left:690px;
  top:571px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10099 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10100 {
  position:absolute;
  left:690px;
  top:400px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10101 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10102 {
  position:absolute;
  left:789px;
  top:356px;
  width:141px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10103 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u10104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10104 {
  position:absolute;
  left:789px;
  top:532px;
  width:85px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10105 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10106 {
  position:absolute;
  left:789px;
  top:442px;
  width:66px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10107 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10108 {
  position:absolute;
  left:789px;
  top:488px;
  width:50px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10109 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u10110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10110 {
  position:absolute;
  left:789px;
  top:571px;
  width:354px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10111 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u10112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10112 {
  position:absolute;
  left:789px;
  top:400px;
  width:39px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10113 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u10114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:51px;
}
#u10114 {
  position:absolute;
  left:287px;
  top:683px;
  width:882px;
  height:51px;
}
#u10115 {
  position:absolute;
  left:2px;
  top:18px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
}
#u10116 {
  position:absolute;
  left:293px;
  top:684px;
  width:121px;
  height:50px;
}
#u10117 {
  position:absolute;
  left:2px;
  top:17px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10118 {
  position:absolute;
  left:321px;
  top:700px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u10119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u10120 {
  position:absolute;
  left:586px;
  top:698px;
  width:84px;
  height:25px;
}
#u10121 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10122 {
  position:absolute;
  left:565px;
  top:698px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u10123 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10124 {
  position:absolute;
  left:291px;
  top:762px;
  width:871px;
  height:368px;
}
#u10125 {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  word-wrap:break-word;
}
#u10126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u10127 {
  position:absolute;
  left:291px;
  top:684px;
  width:121px;
  height:46px;
}
#u10128 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u10129 {
  position:absolute;
  left:310px;
  top:693px;
  width:83px;
  height:29px;
}
#u10130 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10131 {
  position:absolute;
  left:318px;
  top:701px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u10132 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u10133 {
  position:absolute;
  left:448px;
  top:695px;
  width:84px;
  height:25px;
}
#u10134 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10135 {
  position:absolute;
  left:448px;
  top:698px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u10136 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u10137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:420px;
}
#u10137 {
  position:absolute;
  left:291px;
  top:1152px;
  width:608px;
  height:420px;
}
#u10138 {
  position:absolute;
  left:2px;
  top:202px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:420px;
}
#u10139 {
  position:absolute;
  left:291px;
  top:1596px;
  width:608px;
  height:420px;
}
#u10140 {
  position:absolute;
  left:2px;
  top:202px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:420px;
}
#u10141 {
  position:absolute;
  left:291px;
  top:2037px;
  width:608px;
  height:420px;
}
#u10142 {
  position:absolute;
  left:2px;
  top:202px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u10144 {
  position:absolute;
  left:318px;
  top:618px;
  width:27px;
  height:22px;
}
#u10145 {
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10146 {
  position:absolute;
  left:347px;
  top:621px;
  width:29px;
  height:16px;
  color:#999999;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10149 {
  position:absolute;
  left:409px;
  top:618px;
  width:22px;
  height:22px;
}
#u10150 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10151 {
  position:absolute;
  left:441px;
  top:621px;
  width:29px;
  height:16px;
  color:#999999;
}
#u10152 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
