body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:1018px;
}
#u20967 {
  position:absolute;
  left:-178px;
  top:0px;
  width:1660px;
  height:1018px;
}
#u20968 {
  position:absolute;
  left:2px;
  top:501px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:21px;
}
#u20969 {
  position:absolute;
  left:321px;
  top:196px;
  width:574px;
  height:21px;
}
#u20970 {
  position:absolute;
  left:2px;
  top:2px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:657px;
}
#u20971 {
  position:absolute;
  left:321px;
  top:227px;
  width:856px;
  height:657px;
}
#u20972 {
  position:absolute;
  left:2px;
  top:320px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20973 {
  position:absolute;
  left:473px;
  top:297px;
  width:141px;
  height:27px;
  color:#FFFFFF;
}
#u20974 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u20975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:78px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20975 {
  position:absolute;
  left:286px;
  top:169px;
  width:877px;
  height:78px;
}
#u20976 {
  position:absolute;
  left:2px;
  top:31px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20977 {
  position:absolute;
  left:312px;
  top:180px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20978 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20979 {
  position:absolute;
  left:312px;
  top:217px;
  width:401px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20980 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u20981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u20981 {
  position:absolute;
  left:977px;
  top:188px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u20982 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u20983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20983 {
  position:absolute;
  left:286px;
  top:297px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20984 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u20985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:335px;
}
#u20985 {
  position:absolute;
  left:280px;
  top:329px;
  width:897px;
  height:335px;
}
#u20986 {
  position:absolute;
  left:2px;
  top:160px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
