body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:730px;
}
#u28468 {
  position:absolute;
  left:56px;
  top:91px;
  width:372px;
  height:730px;
}
#u28469 {
  position:absolute;
  left:2px;
  top:357px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:38px;
}
#u28470 {
  position:absolute;
  left:50px;
  top:50px;
  width:30px;
  height:38px;
}
#u28471 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u28472 {
  position:absolute;
  left:91px;
  top:50px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u28473 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:51px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28474 {
  position:absolute;
  left:75px;
  top:150px;
  width:330px;
  height:51px;
}
#u28475 {
  position:absolute;
  left:2px;
  top:18px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:12px;
}
#u28476 {
  position:absolute;
  left:79px;
  top:150px;
  width:322px;
  height:12px;
}
#u28477 {
  position:absolute;
  left:2px;
  top:-2px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28479 {
  position:absolute;
  left:84px;
  top:172px;
  width:22px;
  height:22px;
}
#u28480 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u28481 {
  position:absolute;
  left:169px;
  top:170px;
  width:142px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u28482 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u28483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:89px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28484 {
  position:absolute;
  left:92px;
  top:210px;
  width:67px;
  height:89px;
  color:#FFFFFF;
}
#u28485 {
  position:absolute;
  left:2px;
  top:28px;
  width:63px;
  word-wrap:break-word;
}
#u28486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28486 {
  position:absolute;
  left:168px;
  top:217px;
  width:121px;
  height:16px;
}
#u28487 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u28488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u28488 {
  position:absolute;
  left:168px;
  top:237px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28489 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u28490 {
  position:absolute;
  left:76px;
  top:311px;
  width:329px;
  height:1px;
}
#u28491 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u28492 {
  position:absolute;
  left:169px;
  top:259px;
  width:11px;
  height:11px;
}
#u28493 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u28494 {
  position:absolute;
  left:184px;
  top:260px;
  width:9px;
  height:9px;
}
#u28495 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u28496 {
  position:absolute;
  left:196px;
  top:259px;
  width:11px;
  height:11px;
}
#u28497 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:89px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28498 {
  position:absolute;
  left:92px;
  top:329px;
  width:67px;
  height:89px;
  color:#FFFFFF;
}
#u28499 {
  position:absolute;
  left:2px;
  top:28px;
  width:63px;
  word-wrap:break-word;
}
#u28500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28500 {
  position:absolute;
  left:168px;
  top:336px;
  width:121px;
  height:16px;
}
#u28501 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u28502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u28502 {
  position:absolute;
  left:168px;
  top:356px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u28503 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u28504 {
  position:absolute;
  left:76px;
  top:430px;
  width:329px;
  height:1px;
}
#u28505 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u28506 {
  position:absolute;
  left:169px;
  top:381px;
  width:11px;
  height:11px;
}
#u28507 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u28508 {
  position:absolute;
  left:184px;
  top:382px;
  width:9px;
  height:9px;
}
#u28509 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u28510 {
  position:absolute;
  left:196px;
  top:381px;
  width:11px;
  height:11px;
}
#u28511 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:89px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28512 {
  position:absolute;
  left:92px;
  top:448px;
  width:67px;
  height:89px;
  color:#FFFFFF;
}
#u28513 {
  position:absolute;
  left:2px;
  top:28px;
  width:63px;
  word-wrap:break-word;
}
#u28514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28514 {
  position:absolute;
  left:168px;
  top:455px;
  width:121px;
  height:16px;
}
#u28515 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u28516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u28516 {
  position:absolute;
  left:168px;
  top:475px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u28517 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u28518 {
  position:absolute;
  left:76px;
  top:549px;
  width:329px;
  height:1px;
}
#u28519 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u28520 {
  position:absolute;
  left:169px;
  top:500px;
  width:11px;
  height:11px;
}
#u28521 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u28522 {
  position:absolute;
  left:184px;
  top:501px;
  width:9px;
  height:9px;
}
#u28523 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u28524 {
  position:absolute;
  left:196px;
  top:500px;
  width:11px;
  height:11px;
}
#u28525 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28526 {
  position:absolute;
  left:207px;
  top:374px;
  width:18px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28527 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u28528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u28528 {
  position:absolute;
  left:168px;
  top:277px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28529 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u28530 {
  position:absolute;
  left:168px;
  top:396px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28531 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u28532 {
  position:absolute;
  left:168px;
  top:516px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28533 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
