body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:730px;
}
#u27929 {
  position:absolute;
  left:79px;
  top:84px;
  width:372px;
  height:730px;
}
#u27930 {
  position:absolute;
  left:2px;
  top:357px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:38px;
}
#u27931 {
  position:absolute;
  left:73px;
  top:43px;
  width:30px;
  height:38px;
}
#u27932 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u27933 {
  position:absolute;
  left:114px;
  top:43px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u27934 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:210px;
}
#u27936 {
  position:absolute;
  left:98px;
  top:195px;
  width:330px;
  height:210px;
  font-size:10px;
  color:#666666;
}
#u27937 {
  position:absolute;
  left:2px;
  top:97px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27938 {
  position:absolute;
  left:388px;
  top:216px;
  width:25px;
  height:25px;
}
#u27939 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u27940 {
  position:absolute;
  left:98px;
  top:355px;
  width:330px;
  height:50px;
}
#u27941 {
  position:absolute;
  left:2px;
  top:17px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27942 {
  position:absolute;
  left:120px;
  top:362px;
  width:73px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27943 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u27944 {
  position:absolute;
  left:120px;
  top:382px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u27945 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u27946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27947 {
  position:absolute;
  left:355px;
  top:364px;
  width:16px;
  height:16px;
}
#u27948 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27949 {
  position:absolute;
  left:397px;
  top:364px;
  width:16px;
  height:16px;
}
#u27950 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27951 {
  position:absolute;
  left:342px;
  top:362px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27952 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27953 {
  position:absolute;
  left:383px;
  top:362px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27954 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:51px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27955 {
  position:absolute;
  left:98px;
  top:143px;
  width:330px;
  height:51px;
}
#u27956 {
  position:absolute;
  left:2px;
  top:18px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:12px;
}
#u27957 {
  position:absolute;
  left:102px;
  top:143px;
  width:322px;
  height:12px;
}
#u27958 {
  position:absolute;
  left:2px;
  top:-2px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27960 {
  position:absolute;
  left:107px;
  top:165px;
  width:22px;
  height:22px;
}
#u27961 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u27962 {
  position:absolute;
  left:192px;
  top:163px;
  width:142px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u27963 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u27964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27964 {
  position:absolute;
  left:397px;
  top:165px;
  width:20px;
  height:20px;
}
#u27965 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:210px;
}
#u27967 {
  position:absolute;
  left:98px;
  top:408px;
  width:330px;
  height:210px;
  font-size:10px;
  color:#666666;
}
#u27968 {
  position:absolute;
  left:2px;
  top:97px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27969 {
  position:absolute;
  left:388px;
  top:429px;
  width:25px;
  height:25px;
}
#u27970 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u27971 {
  position:absolute;
  left:98px;
  top:568px;
  width:330px;
  height:50px;
}
#u27972 {
  position:absolute;
  left:2px;
  top:17px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27973 {
  position:absolute;
  left:120px;
  top:575px;
  width:73px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27974 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u27975 {
  position:absolute;
  left:120px;
  top:595px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u27976 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u27977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27978 {
  position:absolute;
  left:355px;
  top:577px;
  width:16px;
  height:16px;
}
#u27979 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27980 {
  position:absolute;
  left:397px;
  top:577px;
  width:16px;
  height:16px;
}
#u27981 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27982 {
  position:absolute;
  left:342px;
  top:575px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27983 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27984 {
  position:absolute;
  left:383px;
  top:575px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27985 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:730px;
}
#u27986 {
  position:absolute;
  left:845px;
  top:91px;
  width:372px;
  height:730px;
}
#u27987 {
  position:absolute;
  left:2px;
  top:357px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:38px;
}
#u27988 {
  position:absolute;
  left:839px;
  top:50px;
  width:30px;
  height:38px;
}
#u27989 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u27990 {
  position:absolute;
  left:880px;
  top:50px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u27991 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:51px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27992 {
  position:absolute;
  left:864px;
  top:151px;
  width:330px;
  height:51px;
}
#u27993 {
  position:absolute;
  left:2px;
  top:18px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:12px;
}
#u27994 {
  position:absolute;
  left:868px;
  top:151px;
  width:322px;
  height:12px;
}
#u27995 {
  position:absolute;
  left:2px;
  top:-2px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u27996 {
  position:absolute;
  left:880px;
  top:216px;
  width:57px;
  height:16px;
  color:#999999;
}
#u27997 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27998 {
  position:absolute;
  left:880px;
  top:246px;
  width:65px;
  height:26px;
  color:#FFFFFF;
}
#u27999 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u28000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28000 {
  position:absolute;
  left:960px;
  top:246px;
  width:65px;
  height:26px;
  color:#6A7D8F;
}
#u28001 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u28002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28002 {
  position:absolute;
  left:1041px;
  top:246px;
  width:65px;
  height:26px;
  color:#6A7D8F;
}
#u28003 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u28004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28004 {
  position:absolute;
  left:1121px;
  top:246px;
  width:65px;
  height:26px;
  color:#6A7D8F;
}
#u28005 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u28006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28006 {
  position:absolute;
  left:880px;
  top:288px;
  width:71px;
  height:26px;
  color:#6A7D8F;
}
#u28007 {
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u28008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u28008 {
  position:absolute;
  left:864px;
  top:333px;
  width:330px;
  height:1px;
}
#u28009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u28010 {
  position:absolute;
  left:880px;
  top:344px;
  width:57px;
  height:16px;
  color:#999999;
}
#u28011 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u28012 {
  position:absolute;
  left:880px;
  top:374px;
  width:65px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u28013 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u28014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6A7D8F;
}
#u28014 {
  position:absolute;
  left:960px;
  top:374px;
  width:65px;
  height:26px;
  font-size:12px;
  color:#6A7D8F;
}
#u28015 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u28016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6A7D8F;
}
#u28016 {
  position:absolute;
  left:1041px;
  top:374px;
  width:65px;
  height:26px;
  font-size:11px;
  color:#6A7D8F;
}
#u28017 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u28018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6A7D8F;
}
#u28018 {
  position:absolute;
  left:1121px;
  top:374px;
  width:65px;
  height:26px;
  font-size:11px;
  color:#6A7D8F;
}
#u28019 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u28020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u28020 {
  position:absolute;
  left:864px;
  top:446px;
  width:330px;
  height:1px;
}
#u28021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u28022 {
  position:absolute;
  left:880px;
  top:461px;
  width:57px;
  height:16px;
  color:#999999;
}
#u28023 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28024 {
  position:absolute;
  left:880px;
  top:491px;
  width:53px;
  height:26px;
  color:#FFFFFF;
}
#u28025 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28026 {
  position:absolute;
  left:1072px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28027 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u28028 {
  position:absolute;
  left:864px;
  top:539px;
  width:330px;
  height:1px;
}
#u28029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28030 {
  position:absolute;
  left:945px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28031 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28032 {
  position:absolute;
  left:1008px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28033 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u28034 {
  position:absolute;
  left:885px;
  top:550px;
  width:57px;
  height:16px;
  color:#999999;
}
#u28035 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6A7D8F;
}
#u28036 {
  position:absolute;
  left:880px;
  top:410px;
  width:65px;
  height:26px;
  font-size:12px;
  color:#6A7D8F;
}
#u28037 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u28038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28038 {
  position:absolute;
  left:1133px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28039 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28040 {
  position:absolute;
  left:880px;
  top:576px;
  width:53px;
  height:26px;
  color:#FFFFFF;
}
#u28041 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28042 {
  position:absolute;
  left:1072px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28043 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28044 {
  position:absolute;
  left:945px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28045 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28046 {
  position:absolute;
  left:1008px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28047 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u28048 {
  position:absolute;
  left:1133px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u28049 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u28050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u28050 {
  position:absolute;
  left:527px;
  top:130px;
  width:303px;
  height:49px;
  font-size:18px;
  color:#999999;
}
#u28051 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u28052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u28052 {
  position:absolute;
  left:493px;
  top:84px;
  width:53px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u28053 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u28054 {
  position:absolute;
  left:493px;
  top:126px;
  width:29px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u28055 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u28056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u28056 {
  position:absolute;
  left:527px;
  top:194px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u28057 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u28058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u28058 {
  position:absolute;
  left:493px;
  top:190px;
  width:29px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u28059 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u28060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28060 {
  position:absolute;
  left:213px;
  top:362px;
  width:18px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28061 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u28062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28062 {
  position:absolute;
  left:406px;
  top:234px;
  width:18px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28063 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u28064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28064 {
  position:absolute;
  left:363px;
  top:166px;
  width:18px;
  height:18px;
}
#u28065 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:51px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u28066 {
  position:absolute;
  left:1029px;
  top:686px;
  width:165px;
  height:51px;
  font-size:18px;
  color:#FFFFFF;
}
#u28067 {
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u28068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:51px;
  background:inherit;
  background-color:rgba(167, 180, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u28068 {
  position:absolute;
  left:864px;
  top:686px;
  width:165px;
  height:51px;
  font-size:18px;
  color:#FFFFFF;
}
#u28069 {
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u28070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u28070 {
  position:absolute;
  left:387px;
  top:251px;
  width:26px;
  height:26px;
}
#u28071 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u28072 {
  position:absolute;
  left:387px;
  top:464px;
  width:26px;
  height:26px;
}
#u28073 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
