body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:730px;
}
#u27818 {
  position:absolute;
  left:79px;
  top:84px;
  width:372px;
  height:730px;
}
#u27819 {
  position:absolute;
  left:2px;
  top:357px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:38px;
}
#u27820 {
  position:absolute;
  left:73px;
  top:43px;
  width:30px;
  height:38px;
}
#u27821 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u27822 {
  position:absolute;
  left:114px;
  top:43px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u27823 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:210px;
}
#u27825 {
  position:absolute;
  left:98px;
  top:195px;
  width:330px;
  height:210px;
  font-size:10px;
  color:#666666;
}
#u27826 {
  position:absolute;
  left:2px;
  top:97px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27827 {
  position:absolute;
  left:388px;
  top:216px;
  width:25px;
  height:25px;
}
#u27828 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u27829 {
  position:absolute;
  left:98px;
  top:355px;
  width:330px;
  height:50px;
}
#u27830 {
  position:absolute;
  left:2px;
  top:17px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27831 {
  position:absolute;
  left:120px;
  top:362px;
  width:73px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27832 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u27833 {
  position:absolute;
  left:120px;
  top:382px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u27834 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u27835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27836 {
  position:absolute;
  left:355px;
  top:364px;
  width:16px;
  height:16px;
}
#u27837 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27838 {
  position:absolute;
  left:397px;
  top:364px;
  width:16px;
  height:16px;
}
#u27839 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27840 {
  position:absolute;
  left:342px;
  top:362px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27841 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27842 {
  position:absolute;
  left:383px;
  top:362px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27843 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:51px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27844 {
  position:absolute;
  left:98px;
  top:143px;
  width:330px;
  height:51px;
}
#u27845 {
  position:absolute;
  left:2px;
  top:18px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:12px;
}
#u27846 {
  position:absolute;
  left:102px;
  top:143px;
  width:322px;
  height:12px;
}
#u27847 {
  position:absolute;
  left:2px;
  top:-2px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27849 {
  position:absolute;
  left:107px;
  top:165px;
  width:22px;
  height:22px;
}
#u27850 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u27851 {
  position:absolute;
  left:192px;
  top:163px;
  width:142px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u27852 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u27853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27853 {
  position:absolute;
  left:397px;
  top:165px;
  width:20px;
  height:20px;
}
#u27854 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:210px;
}
#u27856 {
  position:absolute;
  left:98px;
  top:408px;
  width:330px;
  height:210px;
  font-size:10px;
  color:#666666;
}
#u27857 {
  position:absolute;
  left:2px;
  top:97px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27858 {
  position:absolute;
  left:388px;
  top:429px;
  width:25px;
  height:25px;
}
#u27859 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u27860 {
  position:absolute;
  left:98px;
  top:568px;
  width:330px;
  height:50px;
}
#u27861 {
  position:absolute;
  left:2px;
  top:17px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27862 {
  position:absolute;
  left:120px;
  top:575px;
  width:73px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27863 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u27864 {
  position:absolute;
  left:120px;
  top:595px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u27865 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u27866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27867 {
  position:absolute;
  left:355px;
  top:577px;
  width:16px;
  height:16px;
}
#u27868 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27869 {
  position:absolute;
  left:397px;
  top:577px;
  width:16px;
  height:16px;
}
#u27870 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27871 {
  position:absolute;
  left:342px;
  top:575px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27872 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u27873 {
  position:absolute;
  left:383px;
  top:575px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u27874 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:730px;
}
#u27875 {
  position:absolute;
  left:845px;
  top:91px;
  width:372px;
  height:730px;
}
#u27876 {
  position:absolute;
  left:2px;
  top:357px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:38px;
}
#u27877 {
  position:absolute;
  left:839px;
  top:50px;
  width:30px;
  height:38px;
}
#u27878 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u27879 {
  position:absolute;
  left:880px;
  top:50px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u27880 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:51px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27881 {
  position:absolute;
  left:864px;
  top:151px;
  width:330px;
  height:51px;
}
#u27882 {
  position:absolute;
  left:2px;
  top:18px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:12px;
}
#u27883 {
  position:absolute;
  left:868px;
  top:151px;
  width:322px;
  height:12px;
}
#u27884 {
  position:absolute;
  left:2px;
  top:-2px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u27885 {
  position:absolute;
  left:880px;
  top:216px;
  width:57px;
  height:16px;
  color:#999999;
}
#u27886 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27887 {
  position:absolute;
  left:880px;
  top:246px;
  width:65px;
  height:26px;
  color:#FFFFFF;
}
#u27888 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u27889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27889 {
  position:absolute;
  left:960px;
  top:246px;
  width:65px;
  height:26px;
  color:#6A7D8F;
}
#u27890 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u27891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27891 {
  position:absolute;
  left:1041px;
  top:246px;
  width:65px;
  height:26px;
  color:#6A7D8F;
}
#u27892 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u27893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27893 {
  position:absolute;
  left:1121px;
  top:246px;
  width:65px;
  height:26px;
  color:#6A7D8F;
}
#u27894 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u27895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27895 {
  position:absolute;
  left:880px;
  top:288px;
  width:71px;
  height:26px;
  color:#6A7D8F;
}
#u27896 {
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u27897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u27897 {
  position:absolute;
  left:864px;
  top:333px;
  width:330px;
  height:1px;
}
#u27898 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u27899 {
  position:absolute;
  left:880px;
  top:344px;
  width:57px;
  height:16px;
  color:#999999;
}
#u27900 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u27901 {
  position:absolute;
  left:880px;
  top:374px;
  width:65px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u27902 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u27903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6A7D8F;
}
#u27903 {
  position:absolute;
  left:960px;
  top:374px;
  width:65px;
  height:26px;
  font-size:12px;
  color:#6A7D8F;
}
#u27904 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u27905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6A7D8F;
}
#u27905 {
  position:absolute;
  left:1041px;
  top:374px;
  width:65px;
  height:26px;
  font-size:11px;
  color:#6A7D8F;
}
#u27906 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u27907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6A7D8F;
}
#u27907 {
  position:absolute;
  left:1121px;
  top:374px;
  width:65px;
  height:26px;
  font-size:11px;
  color:#6A7D8F;
}
#u27908 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u27909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u27909 {
  position:absolute;
  left:864px;
  top:446px;
  width:330px;
  height:1px;
}
#u27910 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u27911 {
  position:absolute;
  left:880px;
  top:461px;
  width:57px;
  height:16px;
  color:#999999;
}
#u27912 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27913 {
  position:absolute;
  left:880px;
  top:491px;
  width:53px;
  height:26px;
  color:#FFFFFF;
}
#u27914 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27915 {
  position:absolute;
  left:1072px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27916 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u27917 {
  position:absolute;
  left:864px;
  top:539px;
  width:330px;
  height:1px;
}
#u27918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27919 {
  position:absolute;
  left:945px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27920 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27921 {
  position:absolute;
  left:1008px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27922 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u27923 {
  position:absolute;
  left:885px;
  top:550px;
  width:57px;
  height:16px;
  color:#999999;
}
#u27924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6A7D8F;
}
#u27925 {
  position:absolute;
  left:880px;
  top:410px;
  width:65px;
  height:26px;
  font-size:12px;
  color:#6A7D8F;
}
#u27926 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u27927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27927 {
  position:absolute;
  left:1133px;
  top:491px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27928 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27929 {
  position:absolute;
  left:880px;
  top:576px;
  width:53px;
  height:26px;
  color:#FFFFFF;
}
#u27930 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27931 {
  position:absolute;
  left:1072px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27932 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27933 {
  position:absolute;
  left:945px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27934 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27935 {
  position:absolute;
  left:1008px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27936 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6A7D8F;
}
#u27937 {
  position:absolute;
  left:1133px;
  top:576px;
  width:53px;
  height:26px;
  color:#6A7D8F;
}
#u27938 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u27939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u27939 {
  position:absolute;
  left:527px;
  top:130px;
  width:303px;
  height:49px;
  font-size:18px;
  color:#999999;
}
#u27940 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u27941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u27941 {
  position:absolute;
  left:493px;
  top:84px;
  width:53px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u27942 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u27943 {
  position:absolute;
  left:493px;
  top:126px;
  width:29px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u27944 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u27945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u27945 {
  position:absolute;
  left:527px;
  top:194px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u27946 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u27947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u27947 {
  position:absolute;
  left:493px;
  top:190px;
  width:29px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u27948 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u27949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u27949 {
  position:absolute;
  left:213px;
  top:362px;
  width:18px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u27950 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u27951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u27951 {
  position:absolute;
  left:406px;
  top:234px;
  width:18px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u27952 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u27953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u27953 {
  position:absolute;
  left:363px;
  top:166px;
  width:18px;
  height:18px;
}
#u27954 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:51px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u27955 {
  position:absolute;
  left:1029px;
  top:686px;
  width:165px;
  height:51px;
  font-size:18px;
  color:#FFFFFF;
}
#u27956 {
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u27957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:51px;
  background:inherit;
  background-color:rgba(167, 180, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(106, 125, 143, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u27957 {
  position:absolute;
  left:864px;
  top:686px;
  width:165px;
  height:51px;
  font-size:18px;
  color:#FFFFFF;
}
#u27958 {
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u27959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u27959 {
  position:absolute;
  left:387px;
  top:251px;
  width:26px;
  height:26px;
}
#u27960 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u27961 {
  position:absolute;
  left:387px;
  top:464px;
  width:26px;
  height:26px;
}
#u27962 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
