body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u19747 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u19748 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:989px;
}
#u19749 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:989px;
}
#u19750 {
  position:absolute;
  left:2px;
  top:486px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u19751 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u19752 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u19753 {
  position:absolute;
  left:0px;
  top:175px;
  width:198px;
  height:45px;
}
#u19754 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u19756 {
  position:absolute;
  left:19px;
  top:79px;
  width:21px;
  height:17px;
}
#u19757 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19758 {
  position:absolute;
  left:58px;
  top:77px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19759 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19761 {
  position:absolute;
  left:58px;
  top:243px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19762 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u19763 {
  position:absolute;
  left:18px;
  top:244px;
  width:20px;
  height:19px;
}
#u19764 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19766 {
  position:absolute;
  left:16px;
  top:296px;
  width:20px;
  height:20px;
}
#u19767 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19768 {
  position:absolute;
  left:58px;
  top:296px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19769 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19770 {
  position:absolute;
  left:25px;
  top:21px;
  width:226px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19771 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u19772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19773 {
  position:absolute;
  left:58px;
  top:346px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19774 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19775 {
  position:absolute;
  left:16px;
  top:346px;
  width:19px;
  height:20px;
}
#u19776 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19778 {
  position:absolute;
  left:58px;
  top:130px;
  width:66px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19779 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19780 {
  position:absolute;
  left:18px;
  top:131px;
  width:20px;
  height:20px;
}
#u19781 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19783 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19784 {
  position:absolute;
  left:58px;
  top:187px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19785 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19786 {
  position:absolute;
  left:18px;
  top:188px;
  width:20px;
  height:20px;
}
#u19787 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:43px;
}
#u19788 {
  position:absolute;
  left:1338px;
  top:72px;
  width:262px;
  height:43px;
}
#u19789 {
  position:absolute;
  left:2px;
  top:14px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19790 {
  position:absolute;
  left:224px;
  top:77px;
  width:242px;
  height:50px;
}
#u19791 {
  position:absolute;
  left:2px;
  top:17px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u19792 {
  position:absolute;
  left:245px;
  top:94px;
  width:10px;
  height:18px;
}
#u19793 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19794 {
  position:absolute;
  left:270px;
  top:92px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19795 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19796 {
  position:absolute;
  left:224px;
  top:215px;
  width:867px;
  height:39px;
}
#u19796_input {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u19797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19797 {
  position:absolute;
  left:224px;
  top:175px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19798 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:335px;
}
#u19799 {
  position:absolute;
  left:217px;
  top:284px;
  width:883px;
  height:335px;
}
#u19800 {
  position:absolute;
  left:2px;
  top:160px;
  width:879px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u19801 {
  position:absolute;
  left:230px;
  top:330px;
  width:99px;
  height:16px;
  color:#CCCCCC;
}
#u19802 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19803 {
  position:absolute;
  left:221px;
  top:629px;
  width:870px;
  height:39px;
}
#u19803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19803_input:disabled {
  color:grayText;
}
#u19804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19804 {
  position:absolute;
  left:221px;
  top:814px;
  width:287px;
  height:40px;
  font-size:18px;
}
#u19805 {
  position:absolute;
  left:2px;
  top:9px;
  width:283px;
  word-wrap:break-word;
}
#u19806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19806 {
  position:absolute;
  left:530px;
  top:814px;
  width:109px;
  height:40px;
  font-size:18px;
}
#u19807 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u19808 {
  position:absolute;
  left:221px;
  top:685px;
  width:870px;
  height:39px;
}
#u19808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19808_input:disabled {
  color:grayText;
}
