body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:151px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:545px;
}
#u158 {
  position:absolute;
  left:48px;
  top:26px;
  width:103px;
  height:545px;
}
#u159 {
  position:absolute;
  left:2px;
  top:264px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
