body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u25230 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u25231 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1265px;
}
#u25232 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:1265px;
}
#u25233 {
  position:absolute;
  left:2px;
  top:624px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u25234 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u25235 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u25236 {
  position:absolute;
  left:0px;
  top:334px;
  width:198px;
  height:45px;
}
#u25237 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u25239 {
  position:absolute;
  left:19px;
  top:79px;
  width:21px;
  height:17px;
}
#u25240 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25241 {
  position:absolute;
  left:58px;
  top:77px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25242 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25244 {
  position:absolute;
  left:58px;
  top:243px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25245 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u25246 {
  position:absolute;
  left:18px;
  top:244px;
  width:20px;
  height:19px;
}
#u25247 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25249 {
  position:absolute;
  left:16px;
  top:296px;
  width:20px;
  height:20px;
}
#u25250 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25251 {
  position:absolute;
  left:58px;
  top:296px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25252 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25253 {
  position:absolute;
  left:25px;
  top:21px;
  width:226px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25254 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u25255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25256 {
  position:absolute;
  left:58px;
  top:346px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25257 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u25258 {
  position:absolute;
  left:16px;
  top:346px;
  width:19px;
  height:20px;
}
#u25259 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25261 {
  position:absolute;
  left:58px;
  top:130px;
  width:66px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25262 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u25263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25263 {
  position:absolute;
  left:18px;
  top:131px;
  width:20px;
  height:20px;
}
#u25264 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25267 {
  position:absolute;
  left:58px;
  top:187px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25268 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25269 {
  position:absolute;
  left:18px;
  top:188px;
  width:20px;
  height:20px;
}
#u25270 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u25271 {
  position:absolute;
  left:70px;
  top:403px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u25272 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u25273 {
  position:absolute;
  left:70px;
  top:448px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#169BD5;
}
#u25274 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25276 {
  position:absolute;
  left:224px;
  top:77px;
  width:242px;
  height:50px;
}
#u25277 {
  position:absolute;
  left:2px;
  top:17px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u25278 {
  position:absolute;
  left:245px;
  top:94px;
  width:10px;
  height:18px;
}
#u25279 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u25280 {
  position:absolute;
  left:270px;
  top:92px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u25281 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25282 {
  position:absolute;
  left:484px;
  top:77px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u25283 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u25284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25284 {
  position:absolute;
  left:224px;
  top:167px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25285 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25287 {
  position:absolute;
  left:224px;
  top:330px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25288 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25289 {
  position:absolute;
  left:313px;
  top:325px;
  width:170px;
  height:30px;
}
#u25289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u25290 {
  position:absolute;
  left:497px;
  top:325px;
  width:170px;
  height:30px;
}
#u25290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u25291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25292 {
  position:absolute;
  left:224px;
  top:394px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25293 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25294 {
  position:absolute;
  left:313px;
  top:389px;
  width:170px;
  height:30px;
}
#u25294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u25295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25296 {
  position:absolute;
  left:224px;
  top:453px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25297 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25298 {
  position:absolute;
  left:313px;
  top:448px;
  width:354px;
  height:30px;
}
#u25298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u25298_input:disabled {
  color:grayText;
}
#u25299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25300 {
  position:absolute;
  left:224px;
  top:511px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25301 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25302 {
  position:absolute;
  left:313px;
  top:506px;
  width:170px;
  height:30px;
}
#u25302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u25303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25304 {
  position:absolute;
  left:224px;
  top:565px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25305 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25306 {
  position:absolute;
  left:313px;
  top:563px;
  width:170px;
  height:30px;
}
#u25306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u25307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25308 {
  position:absolute;
  left:224px;
  top:621px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25309 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25310 {
  position:absolute;
  left:313px;
  top:616px;
  width:170px;
  height:30px;
}
#u25310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u25311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25311 {
  position:absolute;
  left:224px;
  top:672px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25312 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25314 {
  position:absolute;
  left:224px;
  top:816px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u25315 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25316 {
  position:absolute;
  left:313px;
  top:816px;
  width:354px;
  height:170px;
}
#u25316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u25317 {
  position:absolute;
  left:323px;
  top:167px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u25318 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u25319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u25319 {
  position:absolute;
  left:313px;
  top:672px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u25320 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u25321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:2px;
}
#u25321 {
  position:absolute;
  left:224px;
  top:1052px;
  width:1039px;
  height:1px;
}
#u25322 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25323 {
  position:absolute;
  left:224px;
  top:1091px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u25324 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u25325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u25325 {
  position:absolute;
  left:453px;
  top:255px;
  width:300px;
  height:32px;
  color:#999999;
}
#u25326 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u25327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25327 {
  position:absolute;
  left:453px;
  top:229px;
  width:152px;
  height:16px;
}
#u25328 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
