body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u26813 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u26814 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1265px;
}
#u26815 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:1265px;
}
#u26816 {
  position:absolute;
  left:2px;
  top:624px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u26817 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u26818 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u26819 {
  position:absolute;
  left:0px;
  top:334px;
  width:198px;
  height:45px;
}
#u26820 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u26822 {
  position:absolute;
  left:19px;
  top:79px;
  width:21px;
  height:17px;
}
#u26823 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26824 {
  position:absolute;
  left:58px;
  top:77px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26825 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26827 {
  position:absolute;
  left:58px;
  top:243px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26828 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u26829 {
  position:absolute;
  left:18px;
  top:244px;
  width:20px;
  height:19px;
}
#u26830 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26832 {
  position:absolute;
  left:16px;
  top:296px;
  width:20px;
  height:20px;
}
#u26833 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26834 {
  position:absolute;
  left:58px;
  top:296px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26835 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26836 {
  position:absolute;
  left:25px;
  top:21px;
  width:226px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26837 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u26838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26839 {
  position:absolute;
  left:58px;
  top:346px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26840 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u26841 {
  position:absolute;
  left:16px;
  top:346px;
  width:19px;
  height:20px;
}
#u26842 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26844 {
  position:absolute;
  left:58px;
  top:130px;
  width:66px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26845 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26846 {
  position:absolute;
  left:18px;
  top:131px;
  width:20px;
  height:20px;
}
#u26847 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26850 {
  position:absolute;
  left:58px;
  top:187px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26851 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26852 {
  position:absolute;
  left:18px;
  top:188px;
  width:20px;
  height:20px;
}
#u26853 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u26854 {
  position:absolute;
  left:70px;
  top:403px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u26855 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u26856 {
  position:absolute;
  left:70px;
  top:448px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#169BD5;
}
#u26857 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26859 {
  position:absolute;
  left:224px;
  top:77px;
  width:242px;
  height:50px;
}
#u26860 {
  position:absolute;
  left:2px;
  top:17px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u26861 {
  position:absolute;
  left:245px;
  top:94px;
  width:10px;
  height:18px;
}
#u26862 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26863 {
  position:absolute;
  left:270px;
  top:92px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26864 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26865 {
  position:absolute;
  left:484px;
  top:77px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u26866 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u26867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26867 {
  position:absolute;
  left:224px;
  top:167px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26868 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26870 {
  position:absolute;
  left:224px;
  top:330px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26871 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26872 {
  position:absolute;
  left:313px;
  top:325px;
  width:170px;
  height:30px;
}
#u26872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u26873 {
  position:absolute;
  left:497px;
  top:325px;
  width:170px;
  height:30px;
}
#u26873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u26874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26875 {
  position:absolute;
  left:224px;
  top:394px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26876 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26877 {
  position:absolute;
  left:313px;
  top:389px;
  width:170px;
  height:30px;
}
#u26877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u26878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26879 {
  position:absolute;
  left:224px;
  top:453px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26880 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26881 {
  position:absolute;
  left:313px;
  top:448px;
  width:354px;
  height:30px;
}
#u26881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u26881_input:disabled {
  color:grayText;
}
#u26882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26883 {
  position:absolute;
  left:224px;
  top:511px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26884 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26885 {
  position:absolute;
  left:313px;
  top:506px;
  width:170px;
  height:30px;
}
#u26885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u26886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26887 {
  position:absolute;
  left:224px;
  top:565px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26888 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26889 {
  position:absolute;
  left:313px;
  top:563px;
  width:170px;
  height:30px;
}
#u26889_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u26890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26891 {
  position:absolute;
  left:224px;
  top:621px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26892 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26893 {
  position:absolute;
  left:313px;
  top:616px;
  width:170px;
  height:30px;
}
#u26893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u26894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26894 {
  position:absolute;
  left:224px;
  top:672px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26895 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26897 {
  position:absolute;
  left:224px;
  top:816px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u26898 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u26899 {
  position:absolute;
  left:313px;
  top:816px;
  width:354px;
  height:170px;
}
#u26899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u26900 {
  position:absolute;
  left:323px;
  top:167px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u26901 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u26902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u26902 {
  position:absolute;
  left:313px;
  top:672px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u26903 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u26904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:2px;
}
#u26904 {
  position:absolute;
  left:224px;
  top:1052px;
  width:1039px;
  height:1px;
}
#u26905 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26906 {
  position:absolute;
  left:224px;
  top:1091px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u26907 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u26908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u26908 {
  position:absolute;
  left:453px;
  top:255px;
  width:300px;
  height:32px;
  color:#999999;
}
#u26909 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26910 {
  position:absolute;
  left:453px;
  top:229px;
  width:152px;
  height:16px;
}
#u26911 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
