body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u32445 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u32446 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1325px;
}
#u32447 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:1325px;
}
#u32448 {
  position:absolute;
  left:2px;
  top:654px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
}
#u32449 {
  position:absolute;
  left:16px;
  top:13px;
  width:182px;
  height:38px;
}
#u32450 {
  position:absolute;
  left:2px;
  top:11px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32451 {
  position:absolute;
  left:236px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32452 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32453 {
  position:absolute;
  left:344px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32454 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32455 {
  position:absolute;
  left:553px;
  top:21px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32456 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u32457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32457 {
  position:absolute;
  left:630px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32458 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
}
#u32459 {
  position:absolute;
  left:335px;
  top:43px;
  width:96px;
  height:14px;
}
#u32460 {
  position:absolute;
  left:2px;
  top:-1px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u32461 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u32462 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u32463 {
  position:absolute;
  left:0px;
  top:176px;
  width:198px;
  height:45px;
}
#u32464 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32465 {
  position:absolute;
  left:477px;
  top:21px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32466 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u32467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32467 {
  position:absolute;
  left:16px;
  top:296px;
  width:20px;
  height:20px;
}
#u32468 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u32469 {
  position:absolute;
  left:16px;
  top:79px;
  width:21px;
  height:17px;
}
#u32470 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32471 {
  position:absolute;
  left:58px;
  top:77px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32472 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u32473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32473 {
  position:absolute;
  left:58px;
  top:187px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32474 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u32475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32475 {
  position:absolute;
  left:58px;
  top:238px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32476 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32477 {
  position:absolute;
  left:58px;
  top:296px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32478 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32479 {
  position:absolute;
  left:58px;
  top:134px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32480 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u32481 {
  position:absolute;
  left:17px;
  top:186px;
  width:19px;
  height:20px;
}
#u32482 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32483 {
  position:absolute;
  left:16px;
  top:239px;
  width:20px;
  height:20px;
}
#u32484 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u32485 {
  position:absolute;
  left:19px;
  top:135px;
  width:16px;
  height:20px;
}
#u32486 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32488 {
  position:absolute;
  left:234px;
  top:87px;
  width:242px;
  height:50px;
}
#u32489 {
  position:absolute;
  left:2px;
  top:17px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u32490 {
  position:absolute;
  left:255px;
  top:104px;
  width:10px;
  height:18px;
}
#u32491 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32492 {
  position:absolute;
  left:280px;
  top:102px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32493 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32494 {
  position:absolute;
  left:494px;
  top:87px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u32495 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u32496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32496 {
  position:absolute;
  left:234px;
  top:177px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32497 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32499 {
  position:absolute;
  left:234px;
  top:340px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32500 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32501 {
  position:absolute;
  left:323px;
  top:335px;
  width:170px;
  height:30px;
}
#u32501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32502 {
  position:absolute;
  left:507px;
  top:335px;
  width:170px;
  height:30px;
}
#u32502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32504 {
  position:absolute;
  left:234px;
  top:404px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32505 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32506 {
  position:absolute;
  left:323px;
  top:399px;
  width:170px;
  height:30px;
}
#u32506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32508 {
  position:absolute;
  left:234px;
  top:463px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32509 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32510 {
  position:absolute;
  left:323px;
  top:458px;
  width:354px;
  height:30px;
}
#u32510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u32510_input:disabled {
  color:grayText;
}
#u32511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32512 {
  position:absolute;
  left:234px;
  top:521px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32513 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32514 {
  position:absolute;
  left:323px;
  top:516px;
  width:170px;
  height:30px;
}
#u32514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32516 {
  position:absolute;
  left:234px;
  top:575px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32517 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32518 {
  position:absolute;
  left:323px;
  top:573px;
  width:170px;
  height:30px;
}
#u32518_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32520 {
  position:absolute;
  left:234px;
  top:631px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32521 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32522 {
  position:absolute;
  left:323px;
  top:626px;
  width:170px;
  height:30px;
}
#u32522_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32523 {
  position:absolute;
  left:234px;
  top:682px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32524 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32526 {
  position:absolute;
  left:234px;
  top:826px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u32527 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32528 {
  position:absolute;
  left:323px;
  top:826px;
  width:354px;
  height:170px;
}
#u32528_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u32529 {
  position:absolute;
  left:333px;
  top:177px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u32530 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u32531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u32531 {
  position:absolute;
  left:323px;
  top:682px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u32532 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u32533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:2px;
}
#u32533 {
  position:absolute;
  left:234px;
  top:1062px;
  width:1039px;
  height:1px;
}
#u32534 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32535 {
  position:absolute;
  left:234px;
  top:1101px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u32536 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u32537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u32537 {
  position:absolute;
  left:463px;
  top:265px;
  width:300px;
  height:32px;
  color:#999999;
}
#u32538 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u32539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32539 {
  position:absolute;
  left:463px;
  top:239px;
  width:152px;
  height:16px;
}
#u32540 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
