body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18066 {
  position:absolute;
  left:-16px;
  top:87px;
  width:1880px;
  height:660px;
  overflow:hidden;
}
#u18066_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1880px;
  height:660px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18067 {
  position:absolute;
  left:3px;
  top:4px;
  width:1864px;
  height:647px;
}
#u18068 {
  position:absolute;
  left:2px;
  top:316px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18069 {
  position:absolute;
  left:119px;
  top:181px;
  width:948px;
  height:201px;
}
#u18070 {
  position:absolute;
  left:2px;
  top:92px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u18071 {
  position:absolute;
  left:155px;
  top:222px;
  width:120px;
  height:120px;
}
#u18072 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18073 {
  position:absolute;
  left:692px;
  top:244px;
  width:224px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18074 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u18075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18075 {
  position:absolute;
  left:698px;
  top:310px;
  width:43px;
  height:16px;
}
#u18076 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18077 {
  position:absolute;
  left:767px;
  top:310px;
  width:57px;
  height:16px;
}
#u18078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18079 {
  position:absolute;
  left:859px;
  top:310px;
  width:57px;
  height:16px;
}
#u18080 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18081 {
  position:absolute;
  left:159px;
  top:349px;
  width:112px;
  height:16px;
}
#u18082 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u18083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18085 {
  position:absolute;
  left:479px;
  top:578px;
  width:30px;
  height:30px;
}
#u18086 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18087 {
  position:absolute;
  left:545px;
  top:578px;
  width:30px;
  height:30px;
}
#u18088 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18089 {
  position:absolute;
  left:606px;
  top:578px;
  width:30px;
  height:30px;
}
#u18090 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18066_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1880px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18066_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:647px;
  background:inherit;
  background-color:rgba(102, 204, 204, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18091 {
  position:absolute;
  left:3px;
  top:4px;
  width:1864px;
  height:647px;
}
#u18092 {
  position:absolute;
  left:2px;
  top:316px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18093 {
  position:absolute;
  left:119px;
  top:181px;
  width:948px;
  height:201px;
}
#u18094 {
  position:absolute;
  left:2px;
  top:92px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u18095 {
  position:absolute;
  left:155px;
  top:222px;
  width:120px;
  height:120px;
}
#u18096 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18097 {
  position:absolute;
  left:692px;
  top:244px;
  width:197px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18098 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u18099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18099 {
  position:absolute;
  left:698px;
  top:310px;
  width:149px;
  height:16px;
}
#u18100 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u18101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18101 {
  position:absolute;
  left:158px;
  top:349px;
  width:112px;
  height:16px;
}
#u18102 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u18103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18105 {
  position:absolute;
  left:479px;
  top:578px;
  width:30px;
  height:30px;
}
#u18106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18107 {
  position:absolute;
  left:545px;
  top:578px;
  width:30px;
  height:30px;
}
#u18108 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18109 {
  position:absolute;
  left:606px;
  top:578px;
  width:30px;
  height:30px;
}
#u18110 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18066_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1880px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18066_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:647px;
  background:inherit;
  background-color:rgba(51, 102, 255, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18111 {
  position:absolute;
  left:3px;
  top:4px;
  width:1864px;
  height:647px;
}
#u18112 {
  position:absolute;
  left:2px;
  top:316px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18113 {
  position:absolute;
  left:119px;
  top:181px;
  width:948px;
  height:201px;
}
#u18114 {
  position:absolute;
  left:2px;
  top:92px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u18115 {
  position:absolute;
  left:155px;
  top:222px;
  width:120px;
  height:120px;
}
#u18116 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18117 {
  position:absolute;
  left:365px;
  top:263px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18118 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u18119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18119 {
  position:absolute;
  left:156px;
  top:349px;
  width:112px;
  height:16px;
}
#u18120 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u18121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18123 {
  position:absolute;
  left:479px;
  top:578px;
  width:30px;
  height:30px;
}
#u18124 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18125 {
  position:absolute;
  left:545px;
  top:578px;
  width:30px;
  height:30px;
}
#u18126 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18127 {
  position:absolute;
  left:606px;
  top:578px;
  width:30px;
  height:30px;
}
#u18128 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:92px;
}
#u18129 {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:92px;
}
#u18130 {
  position:absolute;
  left:2px;
  top:38px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u18131 {
  position:absolute;
  left:21px;
  top:19px;
  width:126px;
  height:40px;
}
#u18132 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u18133 {
  position:absolute;
  left:15px;
  top:66px;
  width:168px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u18134 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u18135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u18135 {
  position:absolute;
  left:211px;
  top:19px;
  width:1px;
  height:64px;
}
#u18136 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
  text-align:left;
}
#u18137 {
  position:absolute;
  left:234px;
  top:30px;
  width:272px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
  text-align:left;
}
#u18138 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u18139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
}
#u18139 {
  position:absolute;
  left:1662px;
  top:25px;
  width:194px;
  height:52px;
}
#u18140 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:39px;
}
#u18141 {
  position:absolute;
  left:1668px;
  top:32px;
  width:172px;
  height:39px;
}
#u18142 {
  position:absolute;
  left:2px;
  top:12px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18143 {
  position:absolute;
  left:1725px;
  top:42px;
  width:57px;
  height:20px;
}
#u18144 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18145 {
  position:absolute;
  left:1807px;
  top:41px;
  width:57px;
  height:20px;
}
#u18146 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1911px;
  height:180px;
}
#u18149 {
  position:absolute;
  left:-47px;
  top:738px;
  width:1911px;
  height:180px;
}
#u18150 {
  position:absolute;
  left:2px;
  top:82px;
  width:1907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:106px;
}
#u18151 {
  position:absolute;
  left:149px;
  top:768px;
  width:663px;
  height:106px;
}
#u18152 {
  position:absolute;
  left:2px;
  top:45px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:118px;
}
#u18153 {
  position:absolute;
  left:1057px;
  top:768px;
  width:312px;
  height:118px;
}
#u18154 {
  position:absolute;
  left:2px;
  top:51px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18156 {
  position:absolute;
  left:1212px;
  top:270px;
  width:335px;
  height:322px;
}
#u18157 {
  position:absolute;
  left:2px;
  top:153px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18158 {
  position:absolute;
  left:1212px;
  top:232px;
  width:396px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18159 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u18160 {
  position:absolute;
  left:1230px;
  top:323px;
  width:300px;
  height:40px;
}
#u18160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u18161 {
  position:absolute;
  left:1230px;
  top:402px;
  width:300px;
  height:40px;
}
#u18161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u18162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u18162 {
  position:absolute;
  left:1363px;
  top:547px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u18163 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18164 {
  position:absolute;
  left:1230px;
  top:497px;
  width:300px;
  height:40px;
}
#u18165 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u18166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u18166 {
  position:absolute;
  left:1501px;
  top:457px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3333FF;
}
#u18167 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18168 {
  position:absolute;
  left:1230px;
  top:457px;
  width:175px;
  height:16px;
  color:#BCBCBC;
}
#u18169 {
  position:absolute;
  left:16px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u18168_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
