body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16167 {
  position:absolute;
  left:508px;
  top:374px;
  width:163px;
  height:48px;
}
#u16168 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16169 {
  position:absolute;
  left:184px;
  top:374px;
  width:163px;
  height:48px;
}
#u16170 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16171 {
  position:absolute;
  left:346px;
  top:374px;
  width:163px;
  height:48px;
}
#u16172 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16173 {
  position:absolute;
  left:184px;
  top:463px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16174 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u16175 {
  position:absolute;
  left:298px;
  top:458px;
  width:220px;
  height:30px;
}
#u16175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16176 {
  position:absolute;
  left:184px;
  top:807px;
  width:140px;
  height:40px;
}
#u16177 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u16178 {
  position:absolute;
  left:184px;
  top:882px;
  width:670px;
  height:1px;
}
#u16179 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16180 {
  position:absolute;
  left:184px;
  top:924px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16181 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u16182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16182 {
  position:absolute;
  left:388px;
  top:913px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16183 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16184 {
  position:absolute;
  left:184px;
  top:520px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16185 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16186 {
  position:absolute;
  left:298px;
  top:515px;
  width:220px;
  height:30px;
}
#u16186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16187 {
  position:absolute;
  left:184px;
  top:585px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16188 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u16189 {
  position:absolute;
  left:298px;
  top:580px;
  width:220px;
  height:30px;
}
#u16189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16190 {
  position:absolute;
  left:184px;
  top:642px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16191 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u16192 {
  position:absolute;
  left:298px;
  top:637px;
  width:220px;
  height:30px;
}
#u16192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16193 {
  position:absolute;
  left:184px;
  top:698px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16194 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u16195 {
  position:absolute;
  left:298px;
  top:693px;
  width:220px;
  height:30px;
}
#u16195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16196 {
  position:absolute;
  left:184px;
  top:755px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16197 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16198 {
  position:absolute;
  left:298px;
  top:750px;
  width:220px;
  height:30px;
}
#u16198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16199 {
  position:absolute;
  left:238px;
  top:986px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16200 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u16201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16201 {
  position:absolute;
  left:381px;
  top:975px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16202 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u16203 {
  position:absolute;
  left:184px;
  top:1049px;
  width:670px;
  height:1px;
}
#u16204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:32px;
}
#u16205 {
  position:absolute;
  left:184px;
  top:1075px;
  width:670px;
  height:32px;
  color:#999999;
}
#u16206 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u16207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16207 {
  position:absolute;
  left:670px;
  top:374px;
  width:163px;
  height:48px;
}
#u16208 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1849px;
  height:295px;
}
#u16209 {
  position:absolute;
  left:-120px;
  top:-1px;
  width:1849px;
  height:295px;
}
#u16210 {
  position:absolute;
  left:2px;
  top:140px;
  width:1845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:295px;
}
#u16211 {
  position:absolute;
  left:186px;
  top:-1px;
  width:1111px;
  height:295px;
}
#u16212 {
  position:absolute;
  left:2px;
  top:140px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:296px;
}
#u16213 {
  position:absolute;
  left:1223px;
  top:-2px;
  width:251px;
  height:296px;
}
#u16214 {
  position:absolute;
  left:2px;
  top:140px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16215 {
  position:absolute;
  left:318px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16216 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u16217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16217 {
  position:absolute;
  left:410px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16218 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u16219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16219 {
  position:absolute;
  left:591px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16220 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u16221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16221 {
  position:absolute;
  left:680px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16222 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16223 {
  position:absolute;
  left:802px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16224 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16225 {
  position:absolute;
  left:1050px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16226 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:74px;
}
#u16227 {
  position:absolute;
  left:-31px;
  top:290px;
  width:1760px;
  height:74px;
}
#u16228 {
  position:absolute;
  left:2px;
  top:29px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16229 {
  position:absolute;
  left:191px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16230 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u16232 {
  position:absolute;
  left:1149px;
  top:316px;
  width:30px;
  height:24px;
}
#u16233 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16234 {
  position:absolute;
  left:1187px;
  top:318px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u16235 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u16236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u16237 {
  position:absolute;
  left:1216px;
  top:317px;
  width:30px;
  height:25px;
}
#u16238 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16239 {
  position:absolute;
  left:1252px;
  top:318px;
  width:34px;
  height:19px;
  font-size:16px;
}
#u16240 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16241 {
  position:absolute;
  left:499px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16242 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u16243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16244 {
  position:absolute;
  left:183px;
  top:308px;
  width:451px;
  height:40px;
  text-align:left;
}
#u16245 {
  position:absolute;
  left:2px;
  top:12px;
  width:447px;
  word-wrap:break-word;
}
#u16246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16246 {
  position:absolute;
  left:596px;
  top:316px;
  width:25px;
  height:25px;
}
#u16247 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16248 {
  position:absolute;
  left:184px;
  top:309px;
  width:403px;
  height:38px;
}
#u16248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16249 {
  position:absolute;
  left:1286px;
  top:310px;
  width:103px;
  height:40px;
  color:#FFFFFF;
}
#u16250 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u16251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16251 {
  position:absolute;
  left:926px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16252 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
