body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16942 {
  position:absolute;
  left:508px;
  top:374px;
  width:163px;
  height:48px;
}
#u16943 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16944 {
  position:absolute;
  left:184px;
  top:374px;
  width:163px;
  height:48px;
}
#u16945 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16946 {
  position:absolute;
  left:346px;
  top:374px;
  width:163px;
  height:48px;
}
#u16947 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16948 {
  position:absolute;
  left:184px;
  top:463px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16949 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u16950 {
  position:absolute;
  left:298px;
  top:458px;
  width:220px;
  height:30px;
}
#u16950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16951 {
  position:absolute;
  left:184px;
  top:807px;
  width:140px;
  height:40px;
}
#u16952 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u16953 {
  position:absolute;
  left:184px;
  top:882px;
  width:670px;
  height:1px;
}
#u16954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16955 {
  position:absolute;
  left:184px;
  top:924px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16956 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u16957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16957 {
  position:absolute;
  left:388px;
  top:913px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16958 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16959 {
  position:absolute;
  left:184px;
  top:520px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16960 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16961 {
  position:absolute;
  left:298px;
  top:515px;
  width:220px;
  height:30px;
}
#u16961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16962 {
  position:absolute;
  left:184px;
  top:585px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16963 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u16964 {
  position:absolute;
  left:298px;
  top:580px;
  width:220px;
  height:30px;
}
#u16964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16965 {
  position:absolute;
  left:184px;
  top:642px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16966 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u16967 {
  position:absolute;
  left:298px;
  top:637px;
  width:220px;
  height:30px;
}
#u16967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16968 {
  position:absolute;
  left:184px;
  top:698px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16969 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u16970 {
  position:absolute;
  left:298px;
  top:693px;
  width:220px;
  height:30px;
}
#u16970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16971 {
  position:absolute;
  left:184px;
  top:755px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16972 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16973 {
  position:absolute;
  left:298px;
  top:750px;
  width:220px;
  height:30px;
}
#u16973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16974 {
  position:absolute;
  left:238px;
  top:986px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16975 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u16976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16976 {
  position:absolute;
  left:381px;
  top:975px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16977 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u16978 {
  position:absolute;
  left:184px;
  top:1049px;
  width:670px;
  height:1px;
}
#u16979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:32px;
}
#u16980 {
  position:absolute;
  left:184px;
  top:1075px;
  width:670px;
  height:32px;
  color:#999999;
}
#u16981 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u16982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16982 {
  position:absolute;
  left:670px;
  top:374px;
  width:163px;
  height:48px;
}
#u16983 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u16984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1849px;
  height:295px;
}
#u16984 {
  position:absolute;
  left:-120px;
  top:-1px;
  width:1849px;
  height:295px;
}
#u16985 {
  position:absolute;
  left:2px;
  top:140px;
  width:1845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:295px;
}
#u16986 {
  position:absolute;
  left:186px;
  top:-1px;
  width:1111px;
  height:295px;
}
#u16987 {
  position:absolute;
  left:2px;
  top:140px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:296px;
}
#u16988 {
  position:absolute;
  left:1223px;
  top:-2px;
  width:251px;
  height:296px;
}
#u16989 {
  position:absolute;
  left:2px;
  top:140px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16990 {
  position:absolute;
  left:318px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16991 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u16992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16992 {
  position:absolute;
  left:410px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16993 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u16994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16994 {
  position:absolute;
  left:591px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16995 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u16996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16996 {
  position:absolute;
  left:680px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16997 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16998 {
  position:absolute;
  left:802px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u16999 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u17000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17000 {
  position:absolute;
  left:1050px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u17001 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u17002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:74px;
}
#u17002 {
  position:absolute;
  left:-31px;
  top:290px;
  width:1760px;
  height:74px;
}
#u17003 {
  position:absolute;
  left:2px;
  top:29px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17004 {
  position:absolute;
  left:191px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u17005 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u17006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u17007 {
  position:absolute;
  left:1149px;
  top:316px;
  width:30px;
  height:24px;
}
#u17008 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17009 {
  position:absolute;
  left:1187px;
  top:318px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u17010 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u17011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u17012 {
  position:absolute;
  left:1216px;
  top:317px;
  width:30px;
  height:25px;
}
#u17013 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17014 {
  position:absolute;
  left:1252px;
  top:318px;
  width:34px;
  height:19px;
  font-size:16px;
}
#u17015 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u17016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17016 {
  position:absolute;
  left:499px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u17017 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u17018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17019 {
  position:absolute;
  left:183px;
  top:308px;
  width:451px;
  height:40px;
  text-align:left;
}
#u17020 {
  position:absolute;
  left:2px;
  top:12px;
  width:447px;
  word-wrap:break-word;
}
#u17021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17021 {
  position:absolute;
  left:596px;
  top:316px;
  width:25px;
  height:25px;
}
#u17022 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17023 {
  position:absolute;
  left:184px;
  top:309px;
  width:403px;
  height:38px;
}
#u17023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17024 {
  position:absolute;
  left:1286px;
  top:310px;
  width:103px;
  height:40px;
  color:#FFFFFF;
}
#u17025 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u17026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17026 {
  position:absolute;
  left:926px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u17027 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
