body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15386 {
  position:absolute;
  left:508px;
  top:374px;
  width:163px;
  height:48px;
}
#u15387 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u15388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15388 {
  position:absolute;
  left:184px;
  top:374px;
  width:163px;
  height:48px;
}
#u15389 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u15390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15390 {
  position:absolute;
  left:346px;
  top:374px;
  width:163px;
  height:48px;
}
#u15391 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u15392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15392 {
  position:absolute;
  left:184px;
  top:463px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15393 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u15394 {
  position:absolute;
  left:298px;
  top:458px;
  width:220px;
  height:30px;
}
#u15394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15395 {
  position:absolute;
  left:184px;
  top:807px;
  width:140px;
  height:40px;
}
#u15396 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u15397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u15397 {
  position:absolute;
  left:184px;
  top:882px;
  width:670px;
  height:1px;
}
#u15398 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15399 {
  position:absolute;
  left:184px;
  top:924px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15400 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u15401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u15401 {
  position:absolute;
  left:388px;
  top:913px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u15402 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u15403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15403 {
  position:absolute;
  left:184px;
  top:520px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15404 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u15405 {
  position:absolute;
  left:298px;
  top:515px;
  width:220px;
  height:30px;
}
#u15405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15406 {
  position:absolute;
  left:184px;
  top:585px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15407 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u15408 {
  position:absolute;
  left:298px;
  top:580px;
  width:220px;
  height:30px;
}
#u15408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15409 {
  position:absolute;
  left:184px;
  top:642px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15410 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u15411 {
  position:absolute;
  left:298px;
  top:637px;
  width:220px;
  height:30px;
}
#u15411_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15412 {
  position:absolute;
  left:184px;
  top:698px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15413 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u15414 {
  position:absolute;
  left:298px;
  top:693px;
  width:220px;
  height:30px;
}
#u15414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15415 {
  position:absolute;
  left:184px;
  top:755px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15416 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u15417 {
  position:absolute;
  left:298px;
  top:750px;
  width:220px;
  height:30px;
}
#u15417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15418 {
  position:absolute;
  left:238px;
  top:986px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15419 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u15420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u15420 {
  position:absolute;
  left:381px;
  top:975px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u15421 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u15422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:2px;
}
#u15422 {
  position:absolute;
  left:184px;
  top:1049px;
  width:670px;
  height:1px;
}
#u15423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:32px;
}
#u15424 {
  position:absolute;
  left:184px;
  top:1075px;
  width:670px;
  height:32px;
  color:#999999;
}
#u15425 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u15426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15426 {
  position:absolute;
  left:670px;
  top:374px;
  width:163px;
  height:48px;
}
#u15427 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u15428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1849px;
  height:295px;
}
#u15428 {
  position:absolute;
  left:-120px;
  top:-1px;
  width:1849px;
  height:295px;
}
#u15429 {
  position:absolute;
  left:2px;
  top:140px;
  width:1845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:295px;
}
#u15430 {
  position:absolute;
  left:186px;
  top:-1px;
  width:1111px;
  height:295px;
}
#u15431 {
  position:absolute;
  left:2px;
  top:140px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:296px;
}
#u15432 {
  position:absolute;
  left:1223px;
  top:-2px;
  width:251px;
  height:296px;
}
#u15433 {
  position:absolute;
  left:2px;
  top:140px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15434 {
  position:absolute;
  left:318px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15435 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u15436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15436 {
  position:absolute;
  left:410px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15437 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u15438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15438 {
  position:absolute;
  left:591px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15439 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u15440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15440 {
  position:absolute;
  left:680px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15441 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u15442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15442 {
  position:absolute;
  left:802px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15443 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u15444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15444 {
  position:absolute;
  left:1050px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15445 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u15446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:74px;
}
#u15446 {
  position:absolute;
  left:-31px;
  top:290px;
  width:1760px;
  height:74px;
}
#u15447 {
  position:absolute;
  left:2px;
  top:29px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15448 {
  position:absolute;
  left:191px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15449 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u15450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u15451 {
  position:absolute;
  left:1149px;
  top:316px;
  width:30px;
  height:24px;
}
#u15452 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15453 {
  position:absolute;
  left:1187px;
  top:318px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u15454 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u15455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u15456 {
  position:absolute;
  left:1216px;
  top:317px;
  width:30px;
  height:25px;
}
#u15457 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15458 {
  position:absolute;
  left:1252px;
  top:318px;
  width:34px;
  height:19px;
  font-size:16px;
}
#u15459 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u15460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15460 {
  position:absolute;
  left:499px;
  top:250px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15461 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u15462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15463 {
  position:absolute;
  left:183px;
  top:308px;
  width:451px;
  height:40px;
  text-align:left;
}
#u15464 {
  position:absolute;
  left:2px;
  top:12px;
  width:447px;
  word-wrap:break-word;
}
#u15465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15465 {
  position:absolute;
  left:596px;
  top:316px;
  width:25px;
  height:25px;
}
#u15466 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15467 {
  position:absolute;
  left:184px;
  top:309px;
  width:403px;
  height:38px;
}
#u15467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15468 {
  position:absolute;
  left:1286px;
  top:310px;
  width:103px;
  height:40px;
  color:#FFFFFF;
}
#u15469 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u15470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15470 {
  position:absolute;
  left:926px;
  top:250px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u15471 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
